<!DOCTYPE html>

<html>
<head>
    <title>the best 404 page ever made</title>
    <link rel="icon" href="/img/weather.png">
    <link rel ="stylesheet" href="/css/styles.css"> 
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorMsg}}</p>
    </div>
    {{>footer}} 
</body>

</html>