<!DOCTYPE html>

<html>
<head>
    <title>the best about page ever made</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel ="stylesheet" href="/css/styles.css">
<body>
    <div class="main-content">
        {{>header}}
        <p>if you are looking at this page, it means I am looking for an internship. this may not be the best weather
            app as the page might suggest, but hopefully, this is enough to get an interview </p>

    </div> 
    {{>footer}}
</body>
</head>
</html>