<!DOCTYPE html>

<html>
<head>
    <title>the best about page ever made</title>
    <link rel="icon" href="/img/weather.png">
    <link rel ="stylesheet" href="/css/styles.css">
<body>
    <div class="main-content">
        {{>header}}
        <p>this is the best weather app ever and I am the best developer ever</p>
    </div> 
    {{>footer}}
</body>
</head>
</html>