body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 750px;
    margin: 0 auto;
    padding: 0 16px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    min-height: 82vh;

    background: url('https://images.pexels.com/photos/853199/pexels-photo-853199.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat fixed;
    background-size: cover;
}

.main-content {
    flex-grow: 1;
}

footer {
    color:white;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: white;
    margin-right: 16px;
    text-decoration: none;
}

form {
    width: 1500px;
}


